// Set values for responsive
$tablet-max-w: 63.9375em; /* 1023px */
$tablet-min-w: 46.25em; /* 740px */
$mobile-width: 46.1875em; /* 739px */

// Change color theme of web browsers
$clr-theme: rgb(255,230,0);
$clr-tag: rgb(255, 217, 0);
$clr-hover: rgb(255, 187, 0);

// $carousel-transition-duration: .6s;