footer {
  @include dflex(center, space-evenly);
  flex-direction: column;

  height: 15rem;

  background-color: grey;

  > a {
    padding: 2rem 3rem;

    color: black;
    font-weight: bold;
    background-color: $clr-theme;
    transition: all 0.2s ease-in-out;
    will-change: transform;

    &:hover {
      border-radius: 1.5rem;
      transform: scale(1.05);
    }
  }

  .copyright {
    font-size: 2rem;

    > a {
      color: $clr-theme;
      font-style: italic;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: white;
      }
    }
  }
}
