.wrapper-head {
  .title {
    margin: auto;
    padding: 5rem 0;

    text-align: center;
    text-transform: uppercase;

    h1 {
      font-size: 4rem;
      letter-spacing: 2px;

      @include mobile {
        font-size: 3rem;
      }
    }

    p {
      margin-top: 2rem;
      font-weight: bold;
    }

    span {
      padding: 1rem 0.5rem;

      font-style: italic;
      background-color: $clr-theme;
    }
  }
}

.banner {
  height: 80rem;
  padding: 20rem 5rem;

  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  h2:nth-child(1) {
    font-size: 3rem;

    @include mobile {
      font-size: 1.6rem;
    }
  }

  h2:nth-child(2) {
    margin: 1.7rem auto;

    font-size: 4rem;

    @include mobile {
      margin-bottom: 1.7rem;
      font-size: 3rem;
    }
  }

  &-btn {
    padding: 2rem;

    border: none;
    border-radius: 5px;
    background-color: white;

    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 4px;

    position: relative;
    overflow: hidden;

    cursor: pointer;

    &::before {
      content: "SUBSCRIBE";
      position: absolute;
      padding: 2rem;
      top: 0;
      left: 0;
      bottom: 0;
      color: black;

      @include mobile {
        padding: 1rem;
      }
    }

    &:hover::before {
      z-index: 1;
      color: white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      width: 110%;
      height: 100%;

      border-radius: 0 2rem 2rem 0;
      background-color: rgb(226, 55, 106);
      background-image: linear-gradient(to right, #843ec9, #ae6ce4);
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

      transform: translateX(-100%);
      transition: all 0.6s ease-out;
      will-change: transform;
    }

    &:hover::after {
      transform: translateX(0);
    }

    @include mobile {
      padding: 1rem;
    }
  }

  @include mobile {
    max-height: 23rem;
    padding: 2rem 0;

    background-size: cover;
    background-position: center;
    text-align: center;
  }
}

.section-sub {
  @include dflex(center, start);
  gap: 5rem;
  margin-top: 2rem;
  padding-top: 2rem;

  border-top: 1px solid rgba(0, 0, 0, 0.219);

  &-img {
    width: 8.22rem;
    height: 10rem;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

.name {
  margin-bottom: 2rem;

  &-img {
    height: 30rem;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &-desc {
    padding: 2rem;

    text-align: justify;
    background-color: $clr-theme;

    h4 {
      margin-bottom: 1rem;

      text-transform: uppercase;
      font-size: 2rem;
    }
  }
}

.popular {
  margin-bottom: 2rem;

  h4 {
    padding: 2rem;

    text-transform: uppercase;
    color: black;
    background-color: $clr-theme;
  }

  .post {
    background-color: #e2e2e2;
    padding: 0 2rem;

    &-items {
      @include dflex(center, start);
      gap: 2rem;
      padding: 2rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.185);

      &-img {
        width: 13rem;
        height: 9rem;

        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }

        @include mobile {
          width: 100%;
          height: 100%;
        }
      }

      &:nth-child(4) {
        border: none;
      }

      &-desc {
        @include mobile {
          margin-top: 2rem;
        }
      }

      &-desc p:nth-child(1) {
        font-weight: bold;
        font-size: 1.8rem;
      }

      @include mobile {
        display: block;
        text-align: center;
      }
    }
  }
}

.advertise {
  margin-bottom: 2rem;

  background-color: #e2e2e2;

  h4 {
    padding: 2rem;

    text-transform: uppercase;
    color: black;
    background-color: $clr-theme;
  }
}

.tags {
  margin-bottom: 2rem;

  h4 {
    padding: 2rem;

    text-transform: uppercase;
    color: black;
    background-color: $clr-theme;
  }

  &-items {
    padding: 2rem;
    background-color: #e2e2e2;

    span {
      display: inline-block;
      margin-bottom: 1rem;
      padding: 0 1rem;
      height: 2.5rem;

      line-height: 2.5rem;
      background-color: $clr-tag;
      border-radius: 5px;

      &:nth-child(1) {
        color: white;
        background-color: rgba(3, 3, 3, 0.849);
      }
    }
  }

  @include mobile {
    display: none;
  }
}

.inspiration {
  margin-bottom: 2rem;

  h4 {
    padding: 2rem;

    text-transform: uppercase;
    color: black;
    background-color: $clr-theme;
  }

  &-items {
    padding: 2rem;
    background: #e2e2e2;

    @include dflex;
    flex-wrap: wrap;
    gap: 2rem;

    &-img {
      width: 21rem;
      height: 13rem;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      @include mobile {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.follow {
  margin-bottom: 2rem;

  h4 {
    padding: 2rem;

    text-transform: uppercase;
    color: black;
    background-color: $clr-theme;
  }

  &-social {
    @include dflex(center, space-evenly);
    gap: 2rem;
    padding: 2rem;

    background-color: #e2e2e2;
    &-items {
      font-size: 4rem;
      a {
        color: black;
      }

      a:hover {
        color: rgb(141, 141, 141);
      }
    }
  }
}

.subscribe {
  h4 {
    padding: 2rem;

    text-transform: uppercase;
    color: black;
    background-color: $clr-theme;
  }

  &-items {
    padding: 2rem;

    background-color: #e2e2e2;

    input {
      width: 100%;
      height: 3.5rem;
      margin: 2rem auto;
      padding: 0 1rem;
    }

    button {
      width: 100%;
      height: 3rem;

      border: none;
      border-radius: 5px;
      background-color: $clr-theme;

      transition: all 0.2s ease-in-out;
      will-change: background-color;

      &:hover {
        cursor: pointer;

        background-color: $clr-hover;
      }
    }
  }
}
